Source: rpi-surveillance
Section: devel
Priority: optional
Maintainer: "Vladyslav Dusiak" <v.dusiak@gmail.com>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools, python3-setuptools-scm
Standards-Version: 4.1.4
Homepage: https://github.com/resolator/rpi-surveillance
X-Python3-Version: >= 3.7

Package: rpi-surveillance
Architecture: armhf
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, libatlas-base-dev, gpac
Description: Make a surveillance camera from your Raspberry Pi 4!
 The surveillance is built as following: the camera records 10 seconds video and if a motion was detected - sends the video to telegram channel.
 Tested on Raspberry Pi 4 (4 RAM) + NoIR Camera V2.
